<div id=parrent>
  <p id="input">Wejście:</p>
  <div id="inputValue" class="red cxcodes">
    <span class="cxcode" *ngFor="let item of appService.inputScopeForGraph; let x = index">
    {{ item }}
    </span>
  </div>
  <p id="output">Wyjście:</p>
  <p id="outputValue" class="red">{{ tactsService.output }}</p>
  <p id="outputCoder">Wyjście - koder:</p>
  <div id="outputCoderValue" class="red cxcodes">
    <span class="cxcode" *ngFor="let item of tactsService.finalCxforListing; let x = index">
    {{ item }}
    </span>
  </div>
  <div class=" topLine"></div>
  <div class=" bottomLine"></div>
  <div id="firstLine" class="verticalLine"></div>
  <div class="endVerticalTop endVerticalLineTop"></div>
  <div class="endVerticalTop endVerticalLineBottom1">
    <div class="arrow arrowRight2">
      <div class="arrowUpFirst"></div>
      <div class="arrowUpSecond"></div>
    </div>
    <div id="firstSmallDot" class="smalldots"></div>
    <div id="firstSmallDot2" class="smalldotsEnd"></div>
  </div>
  <div class="endVertical endVerticalLineBottom2">
    <div class="arrow arrowRight1">
      <div class="arrowUpFirst"></div>
      <div class="arrowUpSecond"></div>
    </div>
    <div class="arrow arrowRight2">
      <div class="arrowUpFirst"></div>
      <div class="arrowUpSecond"></div>
    </div>
    <div id="secondSmallDot" class="smalldots"></div>
    <div class="smallCircle2" id="finishDot1"></div>
    <div id="inputHorizontalLine3"></div>
    <div class="switchLine1" [ngClass]="{'switchLine1On': tactsService.switch}"></div>
    <div class="endVertical" id="topEndOutput"></div>
    <div id="thirdSmallDot" class="smalldots"></div>
  </div>
  <div class="endVertical endVerticalLineBottom3">
    <div class="arrow">
      <div class="arrowUpFirst"></div>
      <div class="arrowUpSecond"></div>
    </div>
    <div class="endVertical" id="bottomEndOutput"></div>
    <div class="smallCircle2" id="finishDot2"></div>
    <div id="fourthSmallDot" class="smalldots"></div>
    <div class="switchLine2" [ngClass]="{'switchLine2On': tactsService.switch}"></div>
    <div id="inputHorizontalLine2"></div>
  </div>
  <div class="endVertical endVerticalLineBottom4">
    <div id="inputHorizontalLine1"></div>
    <div class="arrow">
      <div class="arrowUpFirst"></div>
      <div class="arrowUpSecond"></div>
    </div>
  </div>
  <div id="start" class="arrow">
    <div class="arrowRightFirst"></div>
    <div class="arrowRightSecond"></div>
  </div>
  <div id="lastCircleBottom" class="circle flipFlop centerCircle">+</div>
  <div id="finish" class="arrow">
    <div class="arrowRightFirst"></div>
    <div class="arrowRightSecond"></div>
  </div>
  <div id="finish2" class="arrow">
    <div class="endLine"></div>
    <div class="arrowRightFirst"></div>
    <div class="arrowRightSecond"></div>
    <div id="fifthSmallDot" class="smalldots"></div>
  </div>
  <div id="p0" class="pBox center"><span class="center red">{{ tactsService.P[0] }}</span>
    <p class="description">P<span class="flipFlopPower">0</span></p>
  </div>
  <div *ngIf="appService.htmlRatioThree && appService.htmlFlipFlopThree" id="secondLine">
    <div class="outputFlipFlopValue">{{ tactsService.output }}</div>
    <div class="smallCircle"></div>
    <div class="verticalLine"></div>
    <div class="circleInside centerCircle">+</div>
    <div class="arrow">
      <div class="arrowBottomFirst"></div>
      <div class="arrowBottomSecond"></div>
    </div>
  </div>
  <div *ngIf="appService.htmlRatioThree" id="p1" class="pBox center"><span class="center red">{{ tactsService.P[1] }}</span>
    <p class="description">P<span class="flipFlopPower">1</span></p>
  </div>
  <div *ngIf="appService.htmlRatioFour && appService.htmlFlipFlopFour" id="thirdLine">
    <div class="outputFlipFlopValue">{{ tactsService.output }}</div>
    <div class="smallCircle"></div>
    <div class="verticalLine"></div>
    <div class="circleInside centerCircle">+</div>
    <div class="arrow">
      <div class="arrowBottomFirst"></div>
      <div class="arrowBottomSecond"></div>
    </div>
  </div>
  <div *ngIf="appService.htmlRatioFour" id="p2" class="pBox center"><span class="center red">{{ tactsService.P[2] }}</span>
    <p class="description">P<span class="flipFlopPower">2</span></p>
  </div>
  <div *ngIf="appService.htmlRatioFive && appService.htmlFlipFlopFive" id="fourthLine">
    <div class="outputFlipFlopValue">{{ tactsService.output }}</div>
    <div class="smallCircle"></div>
    <div class="verticalLine"></div>
    <div class="circleInside centerCircle">+</div>
    <div class="arrow">
      <div class="arrowBottomFirst"></div>
      <div class="arrowBottomSecond"></div>
    </div>
  </div>
  <div *ngIf="appService.htmlRatioFive" id="p3" class="pBox center"><span class="center red">{{ tactsService.P[3] }}</span>
    <p class="description">P<span class="flipFlopPower">3</span></p>
  </div>
  <div *ngIf="appService.htmlRatioSix && appService.htmlFlipFlopSix" id="fifthLine">
    <div class="outputFlipFlopValue">{{ tactsService.output }}</div>
    <div class="smallCircle"></div>
    <div class="verticalLine"></div>
    <div class="circleInside centerCircle">+</div>
    <div class="arrow">
      <div class="arrowBottomFirst"></div>
      <div class="arrowBottomSecond"></div>
    </div>
  </div>
  <div *ngIf="appService.htmlRatioSix" id="p4" class="pBox center"><span class="center red">{{ tactsService.P[4] }}</span>
    <p class="description">P<span class="flipFlopPower">4</span></p>
  </div>
</div>