* {
  position: absolute;
}
#parrent {
  position: relative;
}
.center {
  text-align: center;
  line-height: 28px;
}
.centerCircle {
  text-align: center;
  line-height: 26px;
  font-size: 30px;
}
.topLine {
  width: 500px;
  border: 2px solid black;
  top: 20px;
  left: 100px;
}
.bottomLine {
  width: 650px;
  border: 2px solid black;
  top: 150px;
  left: 25px;
}
.verticalLine {
  height: 117px;
  border: 2px solid black;
  top: 20px;
}
.smallCircle {
  width: 11px;
  height: 11px;
  border-radius: 100%;
  left: -4px;
  top: 17px;
  background-color: black;
}
#firstLine {
  left: 98px;
}
#secondLine {
  left: 217px;
}
#thirdLine {
  left: 304px;
}
#fourthLine {
  left: 391px;
}
#fifthLine {
  left: 478px;
}
.endVerticalLine {
  height: 130px;
  border: 2px solid black;
  left: 600px;
  top: 20px; 
}
.arrow {
  position: relative;
}
#input {
  top: 95px;
  left: 25px;
}
#inputValue {
  top: 115px;
  left: 45px;
}
#start {
  top: 140px;
  left: 65px;
}
#output {
  top: 95px;
  left: 615px;
}
#outputValue {
  top: 115px;
  left: 635px;
}
#finish {
  top: 140px;
  left: 583px;
}
#finish2 {
  top: 140px;
  left: 660px;
}
.arrowRightFirst {
  width: 17px;
  top: 7px;
  border: 2px solid black;
  transform: rotate(25deg);
}
.arrowRightSecond {
  width: 17px;
  top: 14px;
  border: 2px solid black;
  transform: rotate(-25deg);
}
.arrowBottomFirst {
  width: 17px;
  left: -14px;
  top: 129px;
  border: 2px solid black;
  transform: rotate(55deg);
}
.arrowBottomSecond {
  width: 17px;
  left: -4px;
  top: 129px;
  border: 2px solid black;
  transform: rotate(-55deg);
}
.circle {
  width: 26px;
  height: 26px;
  border: 3px solid black;
  border-radius: 100%;
  background-color: white;
}
.circleInside {
  width: 26px;
  height: 26px;
  top: 137px;
  left: -13px;
  border: 3px solid black;
  border-radius: 100%;
  background-color: white;
}
#firstCircle {
  top: 137px;
  left: 84px;
}
.pBox {
  width: 28px;
  height: 28px;
  border: 3px solid black;
  top: 136px;
  background-color: white;
}
.description {
  position: relative;
  top: -70px;
  font-weight: bold;
}
#p0 {
  left: 160px;
}
#p1 {
  left: 248px;
}
#p2 {
  left: 336px;
}
#p3 {
  left: 424px;
}
#p4 {
  left: 512px;
}