* {
  position: absolute;
}
#parrent {
  position: relative;
}
.center {
  text-align: center;
  line-height: 28px;
}
.centerCircle {
  text-align: center;
  line-height: 26px;
  font-size: 30px;
}
.topLine {
  width: 500px;
  border: 2px solid black;
  top: 20px;
  left: 100px;
  background-color: black;
}
.bottomLine {
  width: 500px;
  border: 2px solid black;
  top: 150px;
  left: 99px;
  background-color: black;
}
.verticalLine {
  height: 130px;
  border: 2px solid black;
  top: 20px;
  background-color: black;
}
.smallCircle {
  width: 11px;
  height: 11px;
  border-radius: 100%;
  left: -4px;
  top: 17px;
  background-color: black;
}
.smallCircle2 {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  left: -4px;
  top: 17px;
  background-color: black;
}
.smalldots {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  border: 2px solid black;
  left: -4px;
  top: 17px;
  background-color: white;
  z-index: 3;
}
.smalldotsEnd {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  border: 2px solid black;
  left: 21px;
  top: 17px;
  background-color: white;
  z-index: 3;
}
#firstSmallDot {
  top: 14px;
}
#firstSmallDot2 {
  top: 30px;
}
#secondSmallDot {
  top: -6px;
}
#thirdSmallDot {
  left: 41px;
  top: 36px;
}
#fourthSmallDot {
  left: 41px;
  top: -3px;
}
#fifthSmallDot {
  top: 8px;
  left: -32px;
}
.switchLine1 {
  width: 33px;
  height: 2px;
  background-color: black;
  top: -37px;
  right: -32px;
  transform-origin: 0% 100%;
  transform: rotate(90deg);
}
.switchLine1On {
  transform: rotate(30deg);
}
.switchLine2 {
  height: 33px;
  width: 2px;
  background-color: black;
  top: -50px;
  left: 69px;
  transform-origin: 0% 100%;
  transform: rotate(-130deg);
}
.switchLine2On {
  transform: rotate(-58deg);
}
#finishDot1 {
  left: -4px;
  top: 15px;
}
#finishDot2 {
  left: -4px;
  top: 20px;
}
#firstLine {
  left: 98px;
}
#secondLine {
  left: 217px;
}
#thirdLine {
  left: 304px;
}
#fourthLine {
  left: 391px;
}
#fifthLine {
  left: 478px;
}
.endVertical {
  border: 2px solid black;
  left: 600px;
  top: 20px;
  background-color: black;
}
.endVerticalTop {
  border: 2px solid black;
  left: 600px;
  top: 20px;
  background-color: black;
}
.endVerticalLineTop {
  height: 17px;
  background-color: black;
}
.endVerticalLineBottom1 {
  height: 15px;
  top: 40px;
  background-color: black;
}
.endVerticalLineBottom2 {
  height: 40px;
  top: 95px;
  background-color: black;
}
.endVerticalLineBottom3 {
  height: 20px;
  top: 168px;
  background-color: black;
}
.endVerticalLineBottom4 {
  height: 11px;
  top: 197px;
  background-color: black;
}
#inputHorizontalLine1 {
  width: 50px;
  border: 2px solid black;
  top: 11px;
  left: -52px;
  background-color: black;
}
#inputHorizontalLine2 {
  width: 40px;
  border: 2px solid black;
  top: 22px;
  left: 0px;
  background-color: black;
}
#inputHorizontalLine3 {
  width: 40px;
  border: 2px solid black;
  top: 18px;
  left: 0px;
  background-color: black;
}
#bottomEndOutput {
  left: 43px;
  top: 0px;
  height: 22px;
  background-color: black;
}
#topEndOutput {
  left: 43px;
  top: 18px;
  height: 22px;
  background-color: black;
}
.arrow {
  position: relative;
}
.arrowTop {
  top: -62px;
}
.arrowFirstLeft {
  top: -162px;
  left: 12px;
}
#input {
  top: 216px;
  left: 492px;
}
#inputValue {
  top: 211px;
  left: 543px;
  width: 125px;
}
#start {
  top: 140px;
  left: 140px;
}
#output {
  top: 92px;
  left: 617px;
}
#outputValue {
  top: 87px;
  left: 670px;
}
#outputCoder {
  width: 110px;
  top: 143px;
  left: 717px;
}
#outputCoderValue {
  width: 172px;
  top: 163px;
  left: 665px;
}
#finish {
  top: 140px;
  left: 568px;
}
#finish2 {
  top: 140px;
  left: 700px;
}
.endLine {
  width: 43px;
  height: 3px;
  left: -26px;
  top: 11px;
  background: black;
}
.arrowRightFirst {
  width: 10px;
  top: 9px;
  left: 7px;
  border: 1px solid black;
  transform: rotate(35deg);
  background-color: black;
}
.arrowRightSecond {
  width: 10px;
  top: 15px;
  left: 7px;
  border: 1px solid black;
  transform: rotate(-35deg);
  background-color: black;
}
.arrowBottomFirst {
  width: 17px;
  left: -14px;
  top: 129px;
  border: 1px solid black;
  transform: rotate(55deg);
  background-color: black;
}
.arrowBottomSecond {
  width: 17px;
  left: -2px;
  top: 129px;
  border: 1px solid black;
  transform: rotate(-55deg);
  background-color: black;
}
.arrowUpFirst {
  width: 10px;
  left: -10px;
  top: 2px;
  border: 1px solid black;
  transform: rotate(-55deg);
  background-color: black;
}
.arrowUpSecond {
  width: 10px;
  left: -2px;
  top: 2px;
  border: 1px solid black;
  transform: rotate(55deg);
  background-color: black;
}
.arrowRight1 {
  top: 5px;
}
.arrowRight1 {
  top: 25px;
}
.circle {
  width: 26px;
  height: 26px;
  border: 3px solid black;
  border-radius: 100%;
  background-color: white;
  text-align: center;
  line-height: 26px;
}
.circleInside {
  width: 26px;
  height: 26px;
  top: 137px;
  left: -13px;
  border: 3px solid black;
  border-radius: 100%;
  background-color: white;
}
#firstCircle {
  left: 84px;
}
#lastCircleTop {
  left: 550px;
  top: 40px;
}
#lastCircleBottom {
  left: 586px;
  top: 137px;
}
.pBox {
  width: 28px;
  height: 28px;
  border: 3px solid black;
  top: 136px;
  background-color: white;
  p {
    color: black;
    font-weight: normal;
  }
  .center {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}
.flipFlop {
  top: 75px;
  left: -14px;
  background-color: white;
  z-index: 2;
}
.gElement {
  left: 40%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.flipFlopPower {
    vertical-align: sub;
    font-size: 10px;
    left: 14px;
    top: 3px;
}
.red {
  color: red;
  font-weight: bold;
  font-size: 20px;
}
.description {
  position: relative;
  top: -30px;
  font-weight: bold;
  .flipFlopPower {
    left: 18px;
  }
}
#p0 {
  left: 160px;
}
#p1 {
  left: 248px;
}
#p2 {
  left: 336px;
}
#p3 {
  left: 424px;
}
#p4 {
  left: 512px;
}

.cxcodes {
  display: block;
  position: absolute;
  .cxcode {
    display: inline-block;
    position: relative;
  }
}

.outputFlipFlopValue {
  color: blue;
  top: 102px;
  left: -15px;
  font-weight: bold;
  font-size: 15px;
}

.outputFlipFlopValueLeft {
  color: blue;
  top: 19px;
  left: -7px;
  font-weight: bold;
  font-size: 15px;
}

.outputFlipFlopValueRight {
  color: blue;
  top: -22px;
  left: 21px;
  font-weight: bold;
  font-size: 15px;
}