<div class="coderInput">
  <h3 class="title">Ustaw wielomian informacyjny h(x):</h3>

  <h4>Podaj stopień wielomianu informacyjnego h(x):</h4>
  <input class="firstInput" type="number" min="{{minRange}}" max="{{maxRange}}" [(ngModel)]="appService.polynomialHx" value="polynomialHx"
    (ngModelChange)="updateHxScope()" />

  <div class="bitInputs">
    <span class="range" *ngFor="let range of appService.polynomialHxRange; let j = index">
  <span class="bit">Bit {{ appService.polynomialHxRange[j] + 1 }}</span>
    <span class="states" *ngFor="let binaryState of binaryScope; let i = index">
      <input id="binaryState{{ i }}" [(ngModel)]="appService.selectedBinaryScopeHx[j]" (ngModelChange)="check()" name="selectedBinaryScopeHx{{ j }}" type="radio" value="{{ i }}" />    
      <label for="binaryState{{ i }}">{{ binaryState }}</label>
  </span>
    </span>
  </div>

  <div class="hxSection">
    <p>Słowo h(x):</p>
    <div class="hxcodes">
      <span class="hxcode" *ngFor="let item of appService.selectedBinaryScopeHx; let x = index">
    {{item}}
    </span>
    </div>
  </div>


  <h3 class="title">Ustaw wielomian generujący g(x):</h3>

  <h4>Podaj stopień wielomianu generujacego g(x):</h4>
  <input class="firstInput" type="number" min="{{minRange}}" max="{{maxRange}}" [(ngModel)]="appService.polynomialGx" value="polynomialGx"
    (ngModelChange)="updateGxScope()" />

  <div class="bitInputs">
    <span class="range" *ngFor="let range of appService.polynomialGxRange; let j = index">
  <span class="bit">Bit {{ appService.polynomialGxRange[j] + 1 }}</span>
    <span class="states" *ngFor="let binaryState of binaryScope; let i = index">
      <input id="binaryState{{ i }}" [(ngModel)]="appService.selectedBinaryScopeGx[j]" name="selectedBinaryScopeGx{{ j }}" type="radio" value="{{ i }}"/>    
      <label for="binaryState{{ i }}">{{ binaryState }}</label>
  </span>
    </span>
  </div>

  <div class="gxSection">
    <p>Słowo g(x):</p>
    <div class="gxcodes">
      <span class="gxcode" *ngFor="let item of appService.selectedBinaryScopeGx; let x = index">
    {{item}}
    </span>
    </div>
  </div>


  <button type="submit" (click)="checkPolynomialRatio()">Sprawdz słowo hg(x)</button>

  <button type="reset" (click)="resetAll()">Reset</button>

  <div *ngIf="visibility" class="hgxSection">
    <p>Słowo h<span class="polynomialPower">g</span> (x):</p>
    <div class="hgxcodes">
      <span class="hgxcode" *ngFor="let item of appService.polynomialBinaryScopeHGx; let x = index">
    {{item}}
    </span>
    </div>
    <p>Teraz przejdź na widok "Graph"</p>
  </div>
</div>