<p>
  coder works!
</p>





<p>Podaj stopień wielomiany słowa h(x):</p>

<span class="range" *ngFor="let range of binaryRange; let j = index">
  <span class="bit">BIT: {{ binaryRange[j] + 1 }}</span>
  <span class="states" *ngFor="let binaryState of binaryScope; let i = index">
      <input id="binaryState{{ i }}" [(ngModel)]="selectedBinaryScope[j]" name="selectedBinaryScope{{ j }}" type="radio" value="{{ i }}"/>    
      <label for="binaryState{{ i }}">{{ binaryState }}</label>
  </span> 
</span>

<button type="submit" (click)="calculate()">Oblicz</button>

<div [hidden]="!visibility" class="hxSection">
<p>Słowo h(x):</p>
<div class="hxcodes">
<span class="hxcode" *ngFor="let item of selectedBinaryScope; let x = index">
  {{item}}
  </span>
</div>
</div>