h4,
p {
    font-family: 'Roboto Slab', serif;
}

h3 {
    font-weight: bold;
}

.coderInput {
    display: flex;    
    .warning {
        display: inline-block;
        margin-left: 15px;
        color: red;
        -webkit-animation: blink 1s infinite;
        animation: blink 1s infinite;
    }
    @media all and (max-width: 965px) {
        flex-wrap: wrap;
    }
}

.title {
    margin: 5px 0;
}

.inline {
    display: inline;
    margin: 0 25px;
    font-size: 12px;
}

.firstInput {
    background: white;
    border: 1px solid black;
    color: black;
    padding: 3px 10px;
    min-width: 50px;
    text-decoration: none;
    margin: 15px 0 5px;
}

.bitInputs {
    margin: 5px 0;
    padding: 4px 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
    .range {
        display: inline-block;
        width: 40px;
        text-align: center;
        font-size: 14px;
        padding: 0 5px;
        border-left: 1px solid black;
        &:last-of-type {
            border-left: none;
        }
        .bit {
            display: block;
            margin-bottom: 1px;
        }
    }
}

.submit {
    margin: 15px 0;
}

.hxSection,
.gxSection,
.hgxSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .hxcodes,
    .gxcodes,
    .hgxcodes {
        margin: 5px 0;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        .hxcode,
        .gxcode,
        .hgxcode {
            width: 20px;
            border: 1px solid black;
            text-align: center;
        }
    }
}

.block {
    display: block;
    width: 100%;
    // font-size: 12px;
}

.center {
    text-align: center;
}

.polynomialPower {
    vertical-align: super;
    font-size: 10px;
}

.hgxSection {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 2px solid black;
    padding-bottom: 12px;
    .hgxcodes {
        margin: 5px;
        display: flex;
        flex-direction: row-reverse;
        .hgxcode {
            width: 20px;
            border: 1px solid black;
            text-align: center;
        }
    }
    ul {
        margin-top: 15px;
        list-style: none;
        li {
            border: 1px solid black;
            a { 
                padding: 15px 5px;
                text-decoration: none; 
                height: 60px;
                line-height: 60px;
                text-align: center;
                font-size: 25px;
                color: black;
                cursor: pointer;
            }
        }
    }
}

.finalBeforeTacts {
    font-size: 18px;
    margin: 5px 25px;
    line-height: 23px;
    height: 23px;
    display: block;
}

.topMargin {
    margin-top: -15px;
}

.graphClass {
    display: flex;
    flex-wrap: wrap;
}

@-webkit-keyframes blink {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes blink {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}