/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');


* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #F1F2EB;
}

.svgdivmain {
    display: flex;
}

button {
    background: black;
    border-radius: 15px;
    color: white;
    padding: 6px 10px;
    text-decoration: none;
    cursor: pointer;
    margin: 10px 0 5px;
    &:hover {
        background: grey;
        text-decoration: none;
    }
}

.leftSide {
    width: 50%;
    position: relative;
    padding: 10px;
    text-align: center;
    @media all and (max-width: 965px) {
        width: 100%
    }
}
.rightSide {
    width: 40%;
    position: relative;
    padding: 10px;
    text-align: center;
    @media all and (max-width: 965px) {
        width: 100%
    }
}

.leftSideNarrow {
    max-width: 650px;
    position: relative;
    padding: 10px;
    text-align: center;
    @media all and (max-width: 1380px) {
        width: 100%
    }
}
.rightSideWide {
    position: relative;
    padding: 10px;
    text-align: center;
    @media all and (max-width: 1380px) {
        width: 100%
    }
}