<button [hidden]="buttonDisabled" class="nextTact" type="submit" (click)="nextTact()">Takt +1</button>

<table *ngIf="appService.polynomialRatioGx === 1">
    <tr>
        <th>Takt</th>
        <th>Wejście</th>
        <th>P0</th>
        <th>Wyjście</th>
    </tr>
    <tr>
        <td>{{ tactsService.tactActive }}</td>
        <th>{{ appService.input }}</th>
        <th>{{ P[0] }}</th>
        <th>{{ output }}</th>
    </tr>
</table>

<table *ngIf="appService.polynomialRatioGx === 2">
    <tr>
        <th>Takt</th>
        <th>Wejście</th>
        <th>P0</th>
        <th>P1</th>
        <th>Wyjście</th>
    </tr>
    <tr>
        <td>{{ tactsService.tactActive }}</td>
        <th>{{ appService.input }}</th>
        <th>{{ P[0] }}</th>
        <th>{{ P[1] }}</th>
        <th>{{ output }}</th>
    </tr>
</table>

<table *ngIf="appService.polynomialRatioGx === 3">
    <tr>
        <th>Takt</th>
        <th>Wejście</th>
        <th>P0</th>
        <th>P1</th>
        <th>P2</th>
        <th>Wyjście</th>
    </tr>
    <tr>
        <td>{{ tactsService.tactActive }}</td>
        <th>{{ appService.input }}</th>
        <th>{{ P[0] }}</th>
        <th>{{ P[1] }}</th>
        <th>{{ P[2] }}</th>
        <th>{{ output }}</th>
    </tr>
</table>