* {
    font-size: 13px;
}

table {
    border-collapse: collapse;
    width: 500px;
    margin: 0 auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    width: 61px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

ul {
    margin-top: 15px;
    list-style: none;
    li {
        a { 
            padding: 15px 5px;
            text-decoration: none; 
            height: 60px;
            line-height: 60px;
            text-align: center;
            font-size: 25px;
            color: black;
            cursor: pointer;
        }
    }
}

.cxSection {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    h4 {
        font-size: 15px !important;
        width: 100%;
        margin: 10px 0;
    }
    .cxcodes {
        margin: 10px 0;
        display: flex;
        flex-direction: row-reverse;
        width: 50%;
        .cxcode {
            width: 20px;
            border: 1px solid black;
            text-align: center;
        }
    }
}

.final {
    display: block;
    font-size: 18px !important;
    width: 50%;
}

.bottomMargin {
    height: 245px;
}

.green {
    color: green;
}
.blue {
    color: blue;
}
.marginTop {
    margin-top: 15px;
    font-size: 15px;
}