<button [hidden]="buttonDisabled" class="nextTact" type="submit" (click)="nextTact()">Takt +1</button>

<button [hidden]="buttonDisabled" class="nextTact" type="submit" (click)="calculateAll()">Full calculation</button>

<table *ngIf="appService.polynomialRatioGx === 1">
    <tr>
        <th>Takt</th>
        <th>Wejście</th>
        <th>P0</th>
        <th>Wyjście</th>
        <th>Wyjście kodera</th>
    </tr>
    <tr>
        <td>{{ tactsService.tactActive }}</td>
        <th>{{ appService.input }}</th>
        <th>{{ tactsService.P[0] }}</th>
        <th>{{ tactsService.output }}</th>
        <th>{{ this.outputCoder }}</th>
    </tr>
</table>

<table *ngIf="appService.polynomialRatioGx === 2">
    <tr>
        <th>Takt</th>
        <th>Wejście</th>
        <th>P0</th>
        <th>P1</th>
        <th>Wyjście</th>
        <th>Wyjście kodera</th>
    </tr>
    <tr>
        <td>{{ tactsService.tactActive }}</td>
        <th>{{ appService.input }}</th>
        <th>{{ tactsService.P[0] }}</th>
        <th>{{ tactsService.P[1] }}</th>
        <th>{{ tactsService.output }}</th>
        <th>{{ this.outputCoder }}</th>
    </tr>
</table>

<table *ngIf="appService.polynomialRatioGx === 3">
    <tr>
        <th>Takt</th>
        <th>Wejście</th>
        <th>P0</th>
        <th>P1</th>
        <th>P2</th>
        <th>Wyjście</th>
        <th>Wyjście kodera</th>
    </tr>
    <tr>
        <td>{{ tactsService.tactActive }}</td>
        <th>{{ appService.input }}</th>
        <th>{{ tactsService.P[0] }}</th>
        <th>{{ tactsService.P[1] }}</th>
        <th>{{ tactsService.P[2] }}</th>
        <th>{{ tactsService.output }}</th>
        <th>{{ this.outputCoder }}</th>
    </tr>
</table>

<table *ngIf="appService.polynomialRatioGx === 4">
    <tr>
        <th>Takt</th>
        <th>Wejście</th>
        <th>P0</th>
        <th>P1</th>
        <th>P2</th>
        <th>P3</th>
        <th>Wyjście</th>
        <th>Wyjście kodera</th>
    </tr>
    <tr>
        <td>{{ tactsService.tactActive }}</td>
        <th>{{ appService.input }}</th>
        <th>{{ tactsService.P[0] }}</th>
        <th>{{ tactsService.P[1] }}</th>
        <th>{{ tactsService.P[2] }}</th>
        <th>{{ tactsService.P[3] }}</th>
        <th>{{ tactsService.output }}</th>
        <th>{{ this.outputCoder }}</th>
    </tr>
</table>

<table *ngIf="appService.polynomialRatioGx === 5">
    <tr>
        <th>Takt</th>
        <th>Wejście</th>
        <th>P0</th>
        <th>P1</th>
        <th>P2</th>
        <th>P3</th>
        <th>P4</th>
        <th>Wyjście</th>
        <th>Wyjście kodera</th>
    </tr>
    <tr>
        <td>{{ tactsService.tactActive }}</td>
        <th>{{ appService.input }}</th>
        <th>{{ tactsService.P[0] }}</th>
        <th>{{ tactsService.P[1] }}</th>
        <th>{{ tactsService.P[2] }}</th>
        <th>{{ tactsService.P[3] }}</th>
        <th>{{ tactsService.P[4] }}</th>
        <th>{{ tactsService.output }}</th>
        <th>{{ this.outputCoder }}</th>
    </tr>
</table>

<app-graph-range-six *ngIf="appService.calculationDone" class="marginBottom"></app-graph-range-six>

  <div *ngIf="visibility" class="cxSection">
    <p>Wielomian kodowy c(x):</p>
    <div class="cxcodes">
      <span class="cxcode" *ngFor="let item of appService.polynomialBinaryScopeCx; let x = index">
    {{ item }}
    </span>
    <p class="final">{{ appService.finalPolynomial }}</p>
    </div>
  </div>